.productDescription {
  margin: 70px 200px 0;
}

.productDetails {
  display: flex;
  margin-top: 50px;
  min-height: 500px;
  gap: 50px;
}

.imageColumn {
  flex-basis: 450px;
  position: relative;

  .productImage {
    min-width: 400px;
    max-width: 400px;
    border-radius: 15px;
    width: 100%;
    height: auto;
    object-fit: cover;
    aspect-ratio: 1 / 1;
    cursor: zoom-in;
    transition: all 0.1s ease;

    &:hover {
      transform: scale(1.1);
      box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);
      border-radius: 20px;
    }
  }
}

.detailsColumn {
  flex-grow: 1;
  max-width: calc(100% - 50px);
  overflow: hidden;

  .productTitle {
    font-size: 26px;
    color: #303030;
    font-weight: bold;
    margin: 20px 0;
  }

  .productDescriptionText {
    font-size: 20px;
    margin: 25px 0;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .tagList {
    height: 35px;
    display: flex;
    gap: 20px;

    .tagContainer {
      background-color: #000;
      color: #FFF;
      font-weight: 600;
      padding: 5px 10px;
      border-radius: 5px;
    }
  }

  .priceSection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;

    .productPrice {
      font-size: 24px;
    }

    .quantityControls {
      display: flex;
      align-items: center;
      gap: 5px;

      .quantityInput {
        border-radius: 10px;
        text-align: center;
        background-color: var(--light-gray);
        font-size: 24px;
        height: 40px;
        width: 40px;

        &:focus {
          outline: 1px solid #303030;
        }

        &::-webkit-inner-spin-button,
        &::-webkit-outer-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }
      }

      .quantityArrows {
        display: flex;
        flex-direction: column;

        .adjustButton {
          padding: 0.2rem 0.5rem;
          font-size: 1rem;
          cursor: pointer;
          border: none;
          background-color: transparent;

          &:hover {
            background-color: #ecf5fa;
          }
        }
      }
    }
  }

  .addToCartButton {
    background-color: #8187ff;
    padding: 10px 20px;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    cursor: pointer;
  }
}

.p {
  margin-bottom: 0;
}