.card {
  background-color: rgb(239 242 248);
  border: none;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: x-large;
  padding-bottom: 20px;
  padding-top: 20px;
}

.text {
  font-size: 0.8rem;
}


.form {
  padding-bottom: 15px;
}

.but {
  display: flex;
  justify-content: center;
  margin-left: auto;
}



.placeholder {
  font-size: 13.5px;
  padding: .6rem .75rem;
  border: 1px solid #ced4da;
  border-radius: .25rem;

  &::placeholder {
    color: #6c757d;
  }
}