.container {
  width: 100%;
  display: flex;
  justify-content: end;
}

.search {
  width: 100%;
  background: transparent;
  border: none;
  border-bottom: 1px solid;
  border-color: aliceblue;
  color: aliceblue;

  &:focus-visible {
    outline: none;
  }
}

.but {
  border: none;
  background: transparent;
  position: absolute;
}

.icon {
  color: aliceblue;
}