.accordion {
    margin: auto;
    width: 70%;
    margin-bottom: 80px;

    .card {
        border: none;
        margin: 0;
        border-bottom: 1px solid #ddd;

        &:last-child {
            border-bottom: none;
        }

        .card-header {
            background-color: rgba(160, 160, 160, 0.03);
            padding: 25px 80px 25px;
            cursor: pointer;

            h5 {
                margin: 0;
            }

            .btn {
                font-weight: bold;
                color: #4b9bf1;
                text-decoration: none;
                background: none;
                border: none;
                padding: 0;
                text-align: left;
                cursor: pointer;
                width: 100%;
                padding-left: auto;
                display: flex;



                &:focus {
                    outline: none;
                }

                &.btn-link {
                    color: #4b9bf1;
                    text-decoration: none;

                    &:hover {
                        text-decoration: none;
                        color: #0e82ff;
                    }
                }
            }

            &.collapsed .btn {
                color: #6c757d;
            }
        }

        .collapse {
            display: none;


            &.show {
                display: block;
            }

            .card-body {
                padding: 15px 15px 15px 80px;
                background-color: #fff;
            }
        }
    }

    .mb-0 {
        margin-bottom: 0 !important;
    }
}

.img {
    display: flex;
    justify-content: center;
    margin-left: auto;
}